$mainColor: #000000;
$accentColor: #ff6b01;

$headerMainColor: #ffffff;

$mainFont: "Roboto", sans-serif;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(../img/1155.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
