.footer-container {
  // display: flex;
  // min-width: 100%;
  // padding: 0 71px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  // width: 1024px;
  // height: 77px;
  // justify-content: center;
  // // background: #f7f7f7;
  // // align-items: center;
  // align-items: end;
  // height: 100px;
  @media screen and (min-width: 768px) {
    max-width: 720px;
    // display: flex;
    // padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 980px;
    // padding: 0 71px
  }
}

.footer-text {
  margin: 0;
  padding-top: 30px;
  // padding-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  // line-height: 1.18;
  // color: #545454;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
  }
}

.footer-text-first-part {
  margin: 0;
  padding-top: 28.71px;
  padding-right: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  // line-height: 1.18;
  color: #545454;
  @media screen and (max-width: 767px) {
    text-align: center;
    padding-right: 0;
  }
}

.footer-text-second-part {
  padding-right: 10px;
  padding-top: 30px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  // line-height: 1.18;
  color: #545454;
  @media screen and (max-width: 767px) {
    text-align: center;
    padding-top: 9.9px;
  }
}

.footer-img {
  // width: 14px;
  // height: 12.88px;
  padding-top: 33px;
  padding-right: 10px;
  @media screen and (max-width: 767px) {
    padding-top: 11.88px;
  }
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  // line-height: 1.19;
  text-decoration: none;
  color: #545454;
  border-bottom: 1px solid #545454;
}

.footer-copyrights {
  display: flex;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

/* new styles */
footer {
  background-color: #1d1c1c;
  padding: 30px 0;
  color: white;
}
.footer-container {
  padding: 0 15px;
}
.footer-text {
  padding: 0;
  text-align: center;
  font-size: 18px;
}
.footer-img {
  padding: 0;
  display: initial;
  margin: 0 5px;
}
.footer-link {
  color: white;
  border-color: white;
}
