.header-library-container {
  // position: relative;
  // display: flex;
  // min-width: 100%;
  // padding: 0 71px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 230px;
  justify-content: space-between;
  // align-items: center;
  align-items: end;
  @media screen and (max-width: 767px) {
    background-image: url('../img/my-library_320.jpg');
    max-width: 320px;
    padding: 0 20px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../img/my-library_768.jpg');
    max-width: 768px;
    padding: 0 71px;
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../img/my-library.jpg);
    max-width: 1024px;
    padding: 0 71px;
  }
}

.preference-buttons {
  display: flex;
  justify-content: space-evenly;
  min-height: 40px;

  // margin-top: 41px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.header-btn {
  // width: 136px;
  // height: 44px;
  min-width: 130px;
  padding: 10px 20px;

  cursor: pointer;
  color: $headerMainColor;
  // padding: 14px 0;
  // margin-right: 15px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid $headerMainColor;
  box-sizing: border-box;
  // outline: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.header-btn + .header-btn {
  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active {
  background: $accentColor;
  border: $accentColor;
  outline: none;

  animation: header-watched 0.5s linear infinite both;
}

@keyframes header-watched {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

// .header-queue {
//   width: 136px;
//   height: 44px;
//   text-align: center;
//   cursor: pointer;
//   color: $headerMainColor;
//   padding: 14px 0;
//   background-color: rgba(0, 0, 0, 0);
//   border-radius: 5px;
//   border: 1px solid $headerMainColor;
//   box-sizing: border-box;
//   // outline: none;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   align-items: center;
//   text-align: center;
//   text-transform: uppercase;
//   @media screen and (max-width: 767px) {
//     width: 129.53px;
//     position: absolute;
//     top: 121px;
//     right: 168px;
//   }
// }

.home-card-rating {
  width: 36px;
  height: 16px;
  margin-left: 10px;
  color: $headerMainColor;
  background-color: $accentColor;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.card-list {
  display: flex;
}

/* new styles */
.bg-library {
  background-image: url('../img/my-library_320.jpg');
  @media screen and (min-width: 768px) {
    background-image: url('../img/my-library_768.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../img/my-library.jpg);
  }
}
