.main {
  flex: 1;
  margin: auto;
  padding: 30px 0;

  @media screen and (min-width: $tablet) {
    width: 720px;
  }

  @media screen and (min-width: $desktop) {
    width: 980px;
  }
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie-list-card {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  background: rgba($color: #fff, $alpha: 0.8);
  color: black;
}

.movie-list-card:hover,
.movie-list-card:focus {
  cursor: pointer;
}

.movie-card-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Roboto;
  margin-block-start: 10px;
  margin-block-end: 5px;
  text-align: center;
}

.movie-card-category {
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-align: end;
}
.card-list {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.movie-card-name {
  text-align: end;
  flex-grow: 1;
  width: 274px;
}
