.backdrop {
  display: grid;
  place-content: center;
  background: rgb(0 0 0 / 80%);
  position: fixed;
  inset: 0;
  padding: 10px;
  margin: 0;
}

.modal-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  width: 80%;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }
}
.modal-poster {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.modal-poster img {
  width: 100%;
  border-radius: 10px;
}
.modal-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: start;
    width: 50%;
    margin: auto;
  }
}
.modal-card-title {
  font-weight: 800;
  text-transform: uppercase;
}
.modal-card-genres {
  font-weight: 500;
  word-break: break-all;
}
.modal-card-category {
  font-weight: 500;
}
.modal-description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.modal-description-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal-button {
  width: 120px;
  padding: 15px;
  border: none;
  border-radius: 10px;
}
.modal-button:hover {
  background: $accentColor;
  color: white;
}
