.backdrop {
  background: rgb(0 0 0 / 80%);
  position: fixed;
  inset: 0;
  padding: 10px;
  margin: 0;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.modal-poster {
  width: 100%;
}
.modal-poster img {
  width: 100%;
}
.modal-description {
  width: 50%;
}
.modal-card-title {
}
.modal-card-genres {
}
.modal-card-category {
}
.movie-card-rating {
}
.modal-description-buttons {
}
.modal-button {
}
