.navigation-btns {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.navigation-btns button {
    color: white;
    background: rgba($color: #000000, $alpha: 0.6);
    border: none;
    font-family: Roboto;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.current-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    border: lightgrey solid 1px;
}